<div class="Content">
  <div class="Header">
    <h1>Edição de escola</h1>
    <button (click)="return()" mat-icon-button color="primary">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <form [formGroup]="schoolEditFormGroup">
    <custom-input
      [fieldName]="'Nome'"
      [formControlInput]="getFormControl('name')"
    ></custom-input>

    <custom-input
      [fieldName]="'Endereço'"
      [formControlInput]="getFormControl('address')"
    ></custom-input>
  </form>
  <div class="form-footer">
    <ion-button
      expand="block"
      [disabled]="schoolEditFormGroup.invalid"
      (click)="editSchool()"
    >
      Editar
    </ion-button>
  </div>
</div>
