<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Cadastro</ion-card-subtitle>
    <ion-card-title>CHEGUEI</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="registerFormGroup">
      <custom-input [fieldName]="'Nome'" [formControlInput]="getFormControl('name')"></custom-input>
      <custom-input [fieldName]="'E-mail'" [formControlInput]="getFormControl('email')"></custom-input>
      <custom-input [fieldName]="'Senha'" [formControlInput]="getFormControl('password')" [inputType]="'password'">
      </custom-input>
      <custom-input [fieldName]="'Repetir Senha'" [formControlInput]="getFormControl('confirmPassword')"
        [inputType]="'password'">
      </custom-input>
      <div *ngIf="registerFormGroup.invalid">
        <p *ngIf="registerFormGroup">
          Campos de senha não coincidem.
        </p>
      </div>
    </form>
    <div class="form-footer">
      <ion-button expand="block" [disabled]="registerFormGroup.invalid" (click)="registerEmployee()">
        Cadastrar
      </ion-button>
      <p class="margin-top">
        Voltar para o
        <a href="/auth/login">login</a>
      </p>
    </div>
  </ion-card-content>
</ion-card>