<div class="Content">
  <div class="Header">
    <h1>Edição de sala</h1>
  </div>

  <form [formGroup]="classRoomEditFormGroup">
    <custom-input
      [fieldName]="'Nome'"
      [formControlInput]="getFormControl('name')"
    ></custom-input>
    <custom-input
      [fieldName]="'Período'"
      [formControlInput]="getFormControl('period')"
    ></custom-input>
    <custom-input
      [fieldName]="'Descrição'"
      [formControlInput]="getFormControl('description')"
    ></custom-input>
  </form>
  <div class="form-footer">
    <ion-button
      expand="block"
      [disabled]="classRoomEditFormGroup.invalid"
      (click)="editClassroom()"
    >
      Editar
    </ion-button>
  </div>
</div>
