<ion-app>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        *ngIf="this.storageService.user"
        autoHide="false"
      ></ion-menu-button>
    </ion-buttons>
    <ion-title>Cheguei</ion-title>
  </ion-toolbar>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ng-container *ngIf="isSuper">
          <ion-item (click)="navigate(['super', 'school-list'])"
            >Escolas</ion-item
          >
        </ng-container>
        <ng-container *ngIf="isAdmin">
          <ion-item (click)="navigate(['admin', 'classroom-list'])"
            >Classes</ion-item
          >
          <ion-item (click)="navigate(['admin', 'monitor-list'])"
            >Monitores</ion-item
          >
          <ion-item (click)="navigate(['admin', 'parent-list'])"
            >Responsáveis</ion-item
          >
        </ng-container>
        <ion-item (click)="logout()">Sair</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-content>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-content>
</ion-app>
