<ion-item>
  <ion-label position="floating">{{ fieldName }}</ion-label>
  <ion-input [type]="inputType" [formControl]="formControlInput"></ion-input>
</ion-item>
<div *ngIf="formControlInput.touched && formControlInput.invalid">
  <p *ngIf="formControlInput.errors?.required">
    O campo {{ fieldName }} é necessário.
  </p>
  <p *ngIf="formControlInput.errors?.email">O campo E-mail inválido.</p>
  <p *ngIf="formControlInput.errors?.complexpassword">
    Campos de senha devem possuir ao menos 8 caractéres, letras maiusculas e
    minusculas, e números.
  </p>
</div>
