<div class="Content">
  <div class="Header">
    <h1>Cadastro de Monitor</h1>
    <button (click)="return()" mat-icon-button color="primary">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <form [formGroup]="adminMonitorFormGroup">
    <custom-input
      [fieldName]="'Nome'"
      [formControlInput]="getFormControl('name')"
    ></custom-input>
    <custom-input
      [fieldName]="'CPF'"
      [formControlInput]="getFormControl('cpf')"
    ></custom-input>
  </form>
  <div class="form-footer">
    <ion-button
      expand="block"
      [disabled]="adminMonitorFormGroup.invalid"
      (click)="registerMonitor()"
    >
      Cadastrar
    </ion-button>
  </div>
</div>
