<button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
  <mat-icon>more_horiz</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button
    *ngFor="let button of buttons"
    mat-menu-item
    (click)="button.buttonAction(element)"
  >
    {{ button.buttonName }}
  </button>
</mat-menu>
