<div mat-dialog-content>
  <p class="no-margin">
    <strong
      >O Pai {{ data.parent.name }} chegou para buscar os filhos
      {{ formatChildrenNames() }}</strong
    >
  </p>
</div>
<div mat-dialog-actions class="action-button">
  <button
    mat-stroked-button
    color="primary"
    cdkFocusInitial
    (click)="this.dialogRef.close()"
  >
    Ok
  </button>
</div>
