.title-color {
  color: #3f51b5;
}

.no-margin {
  margin: 0rem;
}

.action-button {
  display: flex;
  justify-content: flex-end;
}

.child {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-between;

  .field {
    max-width: 100px;
    min-width: 100px;
  }
}
