<h2 mat-dialog-title class="title-color">{{ data?.parent.name }}</h2>
<div mat-dialog-content>
  <p class="no-margin"><strong>CPF:</strong></p>
  <p>{{ data?.parent.cpf }}</p>
  <p class="no-margin"><strong>Filhos:</strong></p>
  <div class="child" *ngFor="let child of children">
    <div class="field">
      <p class="no-margin"><strong>Nome:</strong></p>
      <p>{{ child.name }}</p>
    </div>
    <div class="field">
      <p class="no-margin"><strong>CPF:</strong></p>
      <p>{{ child.cpf }}</p>
    </div>
    <div class="field">
      <p class="no-margin"><strong>Classe:</strong></p>
      <p>{{ child.classroom.name }}</p>
    </div>
    <div class="field">
      <p class="no-margin"><strong>Periodo:</strong></p>
      <p>{{ child.classroom.period }}</p>
    </div>
    <div class="field">
      <p class="no-margin"><strong>Descrição:</strong></p>
      <p>{{ child.classroom.period }}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions class="action-button">
  <button
    mat-stroked-button
    color="primary"
    cdkFocusInitial
    (click)="this.dialogRef.close()"
  >
    Ok
  </button>
</div>
