<div>
  <h1>{{ type }}</h1>
  <h1>{{ title }}</h1>
  <p>{{ desc }}</p>
  <button *ngIf="storage.user; else toLogin" [routerLink]="['/home']">
    Voltar para home
  </button>
  <ng-template #toLogin>
    <ion-button [routerLink]="['/auth', 'login']"
      >Voltar para o login</ion-button
    >
  </ng-template>
</div>
