<h2 mat-dialog-title class="title-color">{{ data.name }}</h2>
<div mat-dialog-content>
    <p class="no-margin"><strong>CNPJ:</strong></p>
    <p>{{ data.cnpj }}</p>
    <p class="no-margin"><strong>Endereço:</strong></p>
    <p>{{ data.address }}</p>
</div>
<div mat-dialog-actions class="action-button">
    <button mat-stroked-button color="primary" cdkFocusInitial (click)="this.dialogRef.close()">Ok</button>
</div>