.center-with-margin {
  width: 90%;
  height: 100%;
  box-shadow: none !important;

  align-self: center;

  table {
    width: 100%;
    box-shadow: none !important;
  }
}

.Content {
  display: flex;
  flex-flow: column nowrap;

  .Header {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    align-items: baseline;

    button {
      margin-left: auto;
      margin-right: 30px;
    }
  }
}

.center-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
