<div class="Content">
  <div class="Header">
    <h1>Retirada de estudantes</h1>
  </div>

  <div *ngIf="dataSource$ as requests" class="center-with-margin">
    <table mat-table [dataSource]="requests" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Responsável</th>
        <td mat-cell *matCellDef="let element">{{ element?.parent.name }}</td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Opções</th>
        <td mat-cell *matCellDef="let element">
          <app-menu-button
            [element]="element"
            [buttons]="menuButtons"
          ></app-menu-button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
