<div class="Container">
  <div class="Content">
    <div class="Fields">
      <h3><strong>Nome:</strong></h3>
      <h3>{{ this.storageService.user.name }}</h3>
    </div>
    <div class="Fields">
      <h3><strong>CPF:</strong></h3>
      <h3>{{ this.storageService.user.cpf }}</h3>
    </div>
    <div class="Fields">
      <h3><strong>Escola relacionada:</strong></h3>
      <h3>{{ this.storageService.user.school.name }}</h3>
    </div>
    <div class="Fields">
      <h3><strong>CNPJ:</strong></h3>
      <h3>{{ this.storageService.user.school.cnpj }}</h3>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="arrived()">
    Cheguei!
  </button>
</div>
