.Content {
  margin-top: 15px;
  width: 90%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-flow: row wrap;
}

.Fields {
  max-width: 180px;
  min-width: 180px;
}

.Container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
