<h2 mat-dialog-title class="title-color">{{ data.name }}</h2>
<div mat-dialog-content>
  <p class="no-margin"><strong>Nome:</strong></p>
  <p>{{ data.name }}</p>
  <p class="no-margin"><strong>CPF:</strong></p>
  <p>{{ data.cpf }}</p>
</div>
<div mat-dialog-actions class="action-button">
  <button
    mat-stroked-button
    color="primary"
    cdkFocusInitial
    (click)="this.dialogRef.close()"
  >
    Ok
  </button>
</div>
