<div class="Content">
  <div class="Header">
    <h1>Listagem de Responsáveis</h1>
    <button (click)="newAdmin()" mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div *ngIf="dataSource as admins; else loading" class="center-with-margin">
    <table mat-table [dataSource]="admins" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Opções</th>
        <td mat-cell *matCellDef="let element">
          <app-menu-button
            [element]="element"
            [buttons]="menuButtons"
          ></app-menu-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<ng-template #loading>
  <div class="center-spinner">
    <mat-spinner color="primary" mode="indeterminate"></mat-spinner>
  </div>
</ng-template>
