<div class="Content">
  <div class="Header">
    <h1>Cadastro de escola</h1>
    <button (click)="return()" mat-icon-button color="primary">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <form [formGroup]="schoolRegisterFormGroup">
    <custom-input
      [fieldName]="'Nome'"
      [formControlInput]="getFormControl('name')"
    ></custom-input>
    <custom-input
      [fieldName]="'CNPJ'"
      [formControlInput]="getFormControl('cnpj')"
    ></custom-input>
    <custom-input
      [fieldName]="'Endereço'"
      [formControlInput]="getFormControl('address')"
    ></custom-input>
  </form>
  <div class="form-footer">
    <ion-button
      expand="block"
      [disabled]="schoolRegisterFormGroup.invalid"
      (click)="registerSchool()"
    >
      Cadastrar
    </ion-button>
  </div>
</div>
