<div class="Content">
  <div class="Header">
    <h1>Cadastro de sala</h1>
  </div>

  <form [formGroup]="classRoomRegisterFormGroup">
    <custom-input
      [fieldName]="'Nome'"
      [formControlInput]="getFormControl('name')"
    ></custom-input>
    <custom-input
      [fieldName]="'Período'"
      [formControlInput]="getFormControl('period')"
    ></custom-input>
    <custom-input
      [fieldName]="'Descrição'"
      [formControlInput]="getFormControl('description')"
    ></custom-input>
  </form>
  <div class="form-footer">
    <ion-button
      expand="block"
      [disabled]="classRoomRegisterFormGroup.invalid"
      (click)="registerClassroom()"
    >
      Cadastrar
    </ion-button>
  </div>
</div>
