<div mat-dialog-content>
  <p class="no-margin">
    <strong>Deseja realmente excluir esse registro?</strong>
  </p>
</div>
<div mat-dialog-actions class="action-button">
  <button
    mat-stroked-button
    color="primary"
    cdkFocusInitial
    (click)="this.dialogRef.close()"
  >
    Não
  </button>
  <button
    mat-stroked-button
    color="primary"
    cdkFocusInitial
    [mat-dialog-close]="true"
  >
    Sim
  </button>
</div>
