<ion-content>
  <div class="login-form">
    <div>
      <h1>Cheguei</h1>
      <h5>Login</h5>
      <custom-input
        mask="000.000.000-00"
        [fieldName]="'CPF'"
        [formControlInput]="getFormControl('username')"
      ></custom-input>
      <custom-input
        inputType="password"
        [fieldName]="'Senha'"
        [formControlInput]="getFormControl('password')"
      >
      </custom-input>
      <div class="form-footer">
        <ion-button
          [disabled]="loginFormGroup.invalid"
          (click)="login()"
          expand="block"
          >Login</ion-button
        >
        <!-- <p>
          Não tem conta?
          <a href="" routerLink="/tabs">Cadastrar-se</a>
        </p> -->
      </div>
    </div>
  </div>
</ion-content>
