<div class="Content">
  <div class="Header">
    <h1>Cadastro de Responsável</h1>
    <button (click)="return()" mat-icon-button color="primary">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <form [formGroup]="parentRegisterFormGroup">
    <custom-input
      [fieldName]="'Nome'"
      [formControlInput]="getFormControl('name')"
    ></custom-input>
    <custom-input
      [fieldName]="'CPF'"
      [formControlInput]="getFormControl('cpf')"
    ></custom-input>
  </form>

  <form #form="ngForm">
    <div class="children">
      <h2>Filhos:</h2>
      <button (click)="newChild()" mat-button color="primary">
        + Novo filho
      </button>
    </div>
    <div *ngFor="let children of childrens; let i = index">
      <ion-item>
        <ion-label position="floating"> Nome </ion-label>
        <ion-input
          type="input"
          [name]="'name' + i"
          [ngModel]="children[i]?.name"
          (ngModelChange)="setName(i, $event)"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input
          type="input"
          [name]="'cpf' + i"
          [ngModel]="children[i]?.cpf"
          (ngModelChange)="setCPF(i, $event)"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Classes</ion-label>
        <ion-select (ionChange)="addClassToChild(i, $event)">
          <ion-select-option
            *ngFor="let classroom of classrooms"
            [value]="classroom"
            >{{ classroom.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </div>
  </form>
  <div class="form-footer">
    <ion-button
      expand="block"
      [disabled]="parentRegisterFormGroup.invalid"
      (click)="registerParent()"
    >
      Cadastrar
    </ion-button>
  </div>
</div>
