.form-footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-top {
  margin-top: 1rem;
}

.Content {
  display: flex;
  flex-flow: column nowrap;
  .Header {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    align-items: baseline;

    button {
      margin-left: auto;
      margin-right: 30px;
    }
  }
  form {
    margin-top: 40px;
    width: 80%;
    align-self: center;
  }
}

.children {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

mat-form-field {
  width: 100%;
}
