<h2 mat-dialog-title class="title-color">{{ data.name }}</h2>
<div mat-dialog-content>
  <p class="no-margin"><strong>Período:</strong></p>
  <p>{{ data.period }}</p>
  <p class="no-margin"><strong>Descrição:</strong></p>
  <p>{{ data.description }}</p>
</div>
<div mat-dialog-actions class="action-button">
  <button
    mat-stroked-button
    color="primary"
    cdkFocusInitial
    (click)="this.dialogRef.close()"
  >
    Ok
  </button>
</div>
