<button mat-icon-button aria-label="Example icon button with a vertical three dot icon" matTooltip="Logout"
  matTooltipPosition="left" [matTooltipShowDelay]="500" (click)="storageService.logout()">
  <mat-icon>logout</mat-icon>
</button>