table {
  width: 90%;
  height: 100%;
  box-shadow: none !important;

  align-self: center;
}

.Content {
  display: flex;
  flex-flow: column nowrap;

  .Header {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    align-items: baseline;

    button {
      margin-left: auto;
      margin-right: 30px;
    }
  }
}
